---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import Pagination from "@/layouts/components/Pagination.astro";
import Posts from "@/layouts/Posts.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import { humanize, slugify } from "@/lib/utils/textConverter";

const posts = await getSinglePage("posts");
const currentPosts = sortByDate(posts);
---

<Base title={"Blog"}>
  <section class="section">
      <div class="container text-center">
      <Posts posts={currentPosts} className="mb-16" />
      <Pagination currentPage={1} totalPages={1} />
    </div>
  </section>
</Base>
